
body {
 background-color:cyan;
 margin:0px;
}
 header {
  display:flex;
  justify-content:space-between;
  align-items:center;
  background-color:black;
  color:white;
 }

 a{
    text-decoration:none;
    color:white
 }


.squares {
  border: solid 1px;
  height: 100px;
  width: 100px;
}

.squares-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}